body {
    cursor: url("C:\Users\sydne\Documents\NombreUn\portfolio\FSI-Build-a-Portfolio\images\iconmonstr-crown-16-24.png"), help;
    background-color: goldenrod;
    color: rgb(2, 4, 97);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

